asgiref==3.11.1
attrs==26.1.0
Django==6.0.4
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.2
django-rest-framework==0.1.0
django-scalar==0.2.0
djangorestframework==3.17.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-spectacular==0.29.0
Faker==40.13.0
gunicorn==25.1.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
numpy==2.4.3
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
PyJWT==2.12.1
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
shapely==2.1.2
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
whitenoise==6.12.0
